#items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px;
}

.days-left{
    padding: 5px 25px 5px 5px;
    text-align: center;
    position: relative;
}

.days-left .counter{
    
    left: 40%;
    bottom: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 3px solid black;
    line-height: 44px;
    z-index: 300;
    background: white;
    margin: 0 auto;
}

.days-left-icon {
    color: rgb(128, 128, 216);
}

.todo-item{
    margin-top: 10px;
    margin-left: 10px;
    min-width: 25%;
}

.todo-item-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.card .card-header{
    background-color: #333;
}

.card .card-header .card-header-title{
    color: #ccc;
}

.card .card-footer .card-footer-item label{
   margin-left: 10px;
   pointer-events: none;
}

.card .card-footer .card-footer-item:hover{
  cursor: pointer;
}

@media screen and (max-width: 48em){
    #items{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .todo-item{
        margin-top: 10px;
        margin-left: 0;
    }

    .todo-item-options{
       padding: 15px;
    }
}

