#items{
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.todo-item{
    margin: 0 10px 0 10px;
}

@media screen and (max-width: 48em){
    #items{
        display: flex;
        flex-direction: column;
        padding: 25px;
    }

    .todo-item{
        margin: 10px 10px 10px 10px;
    }
}

