.days-left{
    text-align: center;
}

.days-left .counter{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    color: black;
    border: 1px solid rgb(255, 255, 255);
    line-height: 25px;
    background: white;
}

.days-left-icon {
    color: rgb(128, 128, 216);
}

.todo-item{
    margin-top: 10px;
    margin-left: 10px;
    width: 10%;
}

.todo-item-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.card .card-header{
    background-color: #333;
}

.card .card-header .card-header-title{
    color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card .card-header .card-header-title > * {
    margin-right: 20px;
    color: white;
}

.card .card-footer .card-footer-item label{
   margin-left: 10px;
   pointer-events: none;
}

.card .card-footer .card-footer-item:hover{
  cursor: pointer;
}

.card .card-content{
    min-height: 25vh;
}

@media screen and (max-width: 48em){
    #items{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .todo-item{
        margin-top: 10px;
        margin-left: 0;
    }

    .todo-item-options{
       padding: 15px;
    }
}

