@page
@model IdentityServerAspNetIdentity.Pages.Register.Index
@{
}

<div>
    <h1>Register for an account</h1>
    <form method="post">
        <label>User Name</label>
        <input type="text" name="user"/>
        <label>Passsword</label>
        <input type="password" name="pword"/>
        <button type="submit">Create user</button>
    </form>
</div>